/* Style for the trigger button */
#ShareBtn {
    font-size: 16px;
    cursor: pointer;
    border: none;
    width: 8em;
    padding-left: 0px;
    background-color: #fffdef;
    font-weight: 550;
    font-size: 15px;
    color: #b2b2b2;
    border-radius: 8px;
}

/* Style for the modal overlay */
.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Style for the modal */
.sharecontent {
    background: var(--creamyWhite);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

/* Style for the content inside the modal */
.content {
    margin-bottom: 20px;
    font-size: 18px;
}

.shareSecondRow{
margin-top: 1em;
padding-left: 1em;
}
 
  .shareSecondRow-icon {
    margin: 0 10px;
    font-size: 2em;
    color: #000000;
    transition: color 0.3s ease;
  }
  
  .icon-text {
    margin-left: 10px;
  }
  
  .icon:hover {
    color: #09192a;
  }
  
  .instagram:hover {
    color: #e4405f;
  }
  
  .twitter:hover {
    color: #1a8acf;
  }
  
  .facebook:hover {
    color: #1877f2;
  }
  
  .whatsapp:hover {
    color: #12993d;
  }

/* Style for the actions section inside the modal */
.actions {
    text-align: right;
}

/* Style for the close button */
#close-button {
    padding: 8px 12px;
    background-color: #a23b34;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
