#search-bar{
    display: flex;
    background-color: white;
    aspect-ratio: 15/1;
    width: 50vw;
    margin: 0 auto;
    border-radius: 100px;
    font-size: calc(100vw / 1440 * 16);
}

#search-bar,
#search-input{
    /* height: 75%;
    width: 87.75%;
    margin-top: calc(0.125 * 73.96vw/14.2);
    margin-left: 1.78%;
    border-color: rgba(0, 0, 0, 0);
    font-size: 1.25em; */
}

#icon{
    aspect-ratio: 1/1;
    height: 75%;
    margin-top: calc(0.125 * 73.96vw/14.2);
    margin-left: 3%;
}