#search-bar {
  background-color: whitesmoke;
  display: flex;
  width: 30vw;
  aspect-ratio: 15/1;
  padding: 5px;
  height: 2.2em;
  column-gap: 10px;
  border-radius: 10px;
  border: 1px solid #bfbfbf;
}

#search-bar img {
  height: 90%;
  margin: 0;
}

#search-bar input {
  height: 2em;
  width: 45vw;
  margin: 0;
  border: none;
  align-self: center;
  background: none;
}

#search-bar:hover {
  box-shadow: 0px 11px 17px 11px rgba(112, 112, 112, 0.3);

}

#search-bar input:hover {
}

@media (max-width:1080px){
  #search-bar{
    height: 5vh;
    width: 40vw;
  }
  
  #search-bar input{
    height: 4vh;
    width: 40vw;
    align-self: center;
  }
}

@media (max-width:640px){
  #search-bar{
    height: 4vh;
    width: 43vw;
  }
  
  #search-bar input{
    height: 3vh;
    width: 40vw;
    align-self: center;
  }
}

@media (max-width:480px){
  #search-bar{
    height: 3.5vh;
    width: 53vw;
    
  }
  
  #search-bar input{
    height: 2vh;
    width: 50vw;
    align-self: center;
    padding-left: 0.1em;
  }
}


