#search-bar {
  display: flex;
  background-color: white;
  aspect-ratio: 15/1;
  width: 50vw;
  border-radius: 100px;
  font-size: calc(100vw / 1440 * 16);
  border: none;
}

#search-input {
  border: 0px;
}

#icon {

  height: 75%;
  margin-top: calc(0.125 * 73.96vw / 14.2);
  margin-left: 20%;
}
