@import url("/src/Res/Colors.css");

*{
    margin: 0;
    box-sizing: border-box;
}

.ChatPopup2{
    background-color: var(--creamyWhite);
    position: absolute;
    top:5rem;
    right: 0;
    transform: translateX(-50%);
    width: auto;
    z-index: 2;
}

.ChatPopup2 ul{
    list-style: none;
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--creamyWhite);
    box-shadow: 0.2px 5px 15px;
    border: 2px solid var(--darkBlue);
}

.ChatPopup2 li:nth-child(1):hover{
    background-color: var(--creamyWhite);
}

.ChatTitle{
    width: 100%;
    font-size: 1rem;
    border-bottom: 1px solid var(--grey);
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.ChatTitle img{
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.ChatTitle a{
    align-self: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-right: 0px;
}

.ProfilePicture{
    width: 64px;
    height: 64px;
    border: 1px solid var(--darkBlue);
    margin: 1rem;
    border-radius: 50%;
}

.ChatInfo{
    align-self: center;
    text-align: left;
    margin: 0px;
    margin-left: 1rem;
}

.ChatInfo h1{
    font-family: 'Outfit', sans-serif;
    font-size: 1.5rem;
}

.ChatInfo p{
    font-family: 'Roboto-Thin', sans-serif;
    font-size: 1rem;
}

.hidden{
    display: none;
}

.ChatPopup2 a{
    text-decoration: none;
    color: var(--darkBlue);
    display: flex;
    align-items: center;
}
