.ForumCreatePost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.posting-box {
  background-color: #fffdef;
  width: 50%;
  border-radius: 30px;
  box-shadow: -2px 3px 12px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: -2px 3px 12px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: -2px 3px 12px 0px rgba(0, 0, 0, 0.16);
  padding: 30px;
  margin-top: 30px;
}

#title-post {
  margin-left: 20px;
  font-size: 28px;
}
#text-box {
  padding: 20px;
  background-color: #e5e5e5;
  margin-top: 30px;
  border-radius: 15px;
  height: 100px;
}
#type-text:focus {
  outline: none;
}

#type-text {
  border: none;
  background-color: #e5e5e5;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

.posting-button {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.box {
  border: none;
  background-color: #fffdef;
  margin-top: 30px;
  width: 150px;
  font-weight: 550;
  font-size: 16px;
  font-family: "Roboto";
  border-radius: 15px;
}
.box {
  border: none;
  background-color: #fffdef;
  margin-top: 30px;
  width: 150px;
  font-weight: 550;
  font-size: 16px;
  font-family: "Roboto";
  border-radius: 15px;
}
.box:hover {
  .box {
    border: none;
    background-color: #fffdef;
    margin-top: 30px;
    width: 150px;
    font-weight: 550;
    font-size: 16px;
    font-family: "Roboto";
    border-radius: 15px;
  }
  cursor: pointer;
  box-shadow: 1px 0px 15px -2px rgba(161, 161, 161, 1);
  -webkit-box-shadow: 1px 0px 15px -2px rgba(161, 161, 161, 1);
  -moz-box-shadow: 1px 0px 15px -2px rgba(161, 161, 161, 1);
}
.vertical-line {
  margin-top: 25px;
  height: 50px;
  border: 2px solid rgba(0, 0, 0, 0.148);
  display: flex;
  align-items: center;
}

.three {
  background-color: #f49f1f;
  border-radius: 20px;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;
}

.three > #button-image {
  width: 30px;
  height: auto;
}

.upload-container-image,
.upload-container-video {
  position: relative;
  display: inline-block;
}

.input-file {
  display: none;
}

.upload-container-image,
.upload-container-video {
  display: none;
  margin-top: 30px;
  border: 1px solid rgba(0, 0, 0, 0.42);
  padding: 10px;
  background-color: white;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 300px;
  transition: transform 0.3s;
}
.custom-file-upload {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #f2f2f2;
  width: 100%;
  height: 300px;
  border-radius: 15px;
  transition: transform 0.3s;
}

.custom-file-upload img {
  width: 80px;
  height: 80px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 5px;
  transition: transform 0.3s;
}

.custom-file-upload:hover {
  opacity: 0.8;
  transform: translateY(-10px);
}

.custom-file-upload:hover img {
  transform: translateY(-10px);
}

.custom-file-upload h4 {
  color: #b2b2b2;
}
