.ForumPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-post {
    display: flex;
    flex-direction: column;
    border: none;
}
  
.topic-discuss,
.create-post {
    background-color: #fffdef;
    width: 70%;
    border-radius: 30px;
    box-shadow: -2px 3px 12px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: -2px 3px 12px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: -2px 3px 12px 0px rgba(0, 0, 0, 0.16);
    padding: 30px;
    margin-top: 30px;
}

.create-post:hover {
    cursor: pointer;
    -webkit-box-shadow: -1px 0px 34px -9px rgba(255, 253, 156, 1);
    -moz-box-shadow: -1px 0px 34px -9px rgba(255, 253, 156, 1);
    box-shadow: -1px 0px 34px -9px rgba(255, 253, 156, 1);
}

.create-firstRow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    width: 100%;
}
#user-text-button {
    background-color: #e5e5e5;
    padding: 15px;
    width: 100%;
    text-align: start;
    border-radius: 12px;
    color: #4c4c4cbd;
    font-size: 16px;
    font-weight: 550;
}

.create-secondRow-container {
    display: flex;
    column-gap: 40px;
    margin-top: 20px;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.one {
    border-right: 3px solid #b2b2b2;
    padding-right: 40px;
}

#button-image {
    width: 40px;
}

.user-profile {
    display: flex;
}

#user-image {
    width: 50px;
    height: auto;
    object-fit: contain;
}

#user-text {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    text-align: start;
}

#user-name {
    font-weight: bold;
}

#user-time {
    font-family: "Roboto";
    font-size: 12px;
    color: rgba(0, 0, 0, 0.288);
}
.user-text {
    background-color: #e5e5e5;
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
}

#user-text-post {
    text-align: left;
    color: #4c4c4c;
}

.user-button {
    margin-top: 20px;
    display: flex;
    justify-content: start;
    column-gap: 20px;
}

.button {
    display: flex;
    justify-self: center;
    align-items: center;
    border: none;
    background-color: #fffdef;
    font-weight: 550;
    font-size: 16px;
    color: #b2b2b2;
    border-radius: 8px;
}

.button:hover {
    box-shadow: -2px 3px 12px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: -2px 3px 12px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: -2px 3px 12px 0px rgba(0, 0, 0, 0.16);
}

#img-button {
    width: 30px;
}
#img-description {
    margin-left: 5px;
}

.PostCardContainer{
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    transform: translateX(50%);
}

.PostCardContainer PostCard{
    width: 120px;
}
