:root {
    --creamyWhite: #FFFDEF;
    --orange: #F49F1F;
    --darkBlue: #2B3D50;
    --darkGreen: #27A088;
    --lightGreen: #6BEAD3;
    --grey: #868686;
    --white: #FFFFFF;
    --f5: #f5f5f5;
    --e5: #e5e5e5;
  }