:root {
    --black: #000000;
    --creamyWhite: #FFFDEF;
    --orange: #F49F1F;
    --darkBlue: #2B3D50;
    --darkGreen: #27A088;
    --lightGreen: #6BEAD3;
    --grey: #868686;
    --lightgrey:#a09e9e;
    --white: #FFFFFF;
    --f5: #f5f5f5;
    --e5: #e5e5e5;
    --4c: #4C4C4C;
    --b2: #B2B2B2;
  }