.own-property-container{
    display: grid;
    grid-template-columns: 1008px;
    row-gap: 50px;
    margin: 5% auto;
    place-content: center;
}

.acc-grid-container{
    display: grid;
    grid-template-columns: 1008px;
    row-gap: 50px;
    margin: 5% auto;
    place-content: center;
}