.ViewAccountProperty {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 30px; /* Add margin-bottom for consistency */
  }
  
  .acc-grid-container {
    display: grid;
    gap: 30px;
    max-width: 1200px;
    width: 100%;
  }
  
  .TransactionCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 15px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
  }
  
  .TransactionItem {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--lightGreen);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    width: 100%; /* Ensure full width */
  }
  
  .TransactionItem:hover {
    transform: translateY(-5px);
  }
  
  .TransactionItem img {
    margin-right: 20px;
    height: auto;
    border-radius: 10px;
  }
  
  .TransactionItem div {
    flex: 1;
  }
  
  .TransactionItem h1 {
    margin-bottom: 5px; /* Adjusted margin */
    font-size: 20px;
    color: var(--darkBlue);
  }
  
  .TransactionItem p {
    margin-bottom: 5px; /* Adjusted margin */
    font-size: 16px;
    color: var(--gray);
    white-space: pre-line; /* Ensures proper word wrapping */
  }
  
  .PriceContainer {
    padding: 10px; /* Adjusted padding */
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  
  /* Paid Transactions */
  .PaidTransactions {
    background-color: var(--lightGreen); /* Set background color for paid transactions */
  }
  
  /* Media query for mobile devices */
  @media (max-width: 768px) {
    .TransactionCard {
      padding: 15px; /* Adjusted padding */
    }
  
    .TransactionItem {
      flex-direction: column; /* Adjusted flex-direction */
      align-items: center; /* Center items horizontally */
      text-align: center; /* Center text */
    }
  
    .TransactionItem img {
      max-width: 100%; /* Adjusted max-width */
      margin-bottom: 10px; /* Adjusted margin */
    }
  
    .TransactionItem div {
      width: 100%; /* Ensure text container takes full width */
    }
  
    .ViewAccountProperty {
      margin-top: 0; /* Remove margin from the top */
      margin-bottom: 30px; /* Add margin-bottom for consistency */
    }
  }
  