.ViewAccountHeader{
    background-color: var(--darkGreen);
    display: flex;
    flex-direction: column;
    height: var(--accountDetailsHeight);
}

#details-vah{
    display: flex;
    margin: 0 15%;
    margin-bottom: .7%;
    margin-top: 2%;
    font-family: "Zilla_Slab";
    align-items: center;
    column-gap: 2rem;
}

#pp-container{
    width: 130px;
    /* min-width: 96px; */
    aspect-ratio: 1/1;
    margin: 0 1rem;
}

#pp-container img{
    width: 100%;
}

.acc-desc{
    display: block;
    justify-content: start;
    align-items: start;
    width: 73%;
}

.acc-desc h1{
    font-family: "Outfit";
    font-size: 2em;
    width: 50%;
}

.acc-desc span{
    font-family: "Roboto";
    font-size: 1em;
}

hr{
    background-color: var(--f5);
    width: 74%;
    margin: 0 auto;
}

#account-link-container{
    margin-left: 13%;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
}

.account-link{
    font-family: "Outfit";
    font-size: 1.8em;
    color: var(--f5);
    text-decoration: none;
    display: inline-block;
    margin-right: 3.47%;
}

.account-link:hover{
    cursor: pointer;
    color: var(--orange);
}

.active-link{
    color: var(--orange);
    font-weight: bold;
}

#edit-account img{
    width: 50px;
}

#edit-account img:hover{
    box-shadow: 9px 11px 12px 0px rgba(0, 0, 0, 0.3);

}

@media (max-width:1000px){
    .acc-desc h1{
        font-family: "Outfit";
        font-size: 1.5em;
        width: 50%;
    }
    
}