.homepage{
  min-height: 100vh;
  position: relative;
}

.homepage-img-grid,
.community-grid,
.broker-grid,
.ad-grid,
.buyer-seller-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.buyer-seller-section {
  background-image: url("../../Res/image/login\ broker\ wallpaper.png");
  background-size: cover;
}

.community-grid,
.broker-grid,
.ad-grid,
.HomePageSuggestedPropertiesContainer {
  height: 320px;
}

.homepage-img-grid {
  height: fit-content;
  box-sizing: border-box;
  padding: 0;
  align-items: baseline;
}

.homepage-img-women {
  margin-right: 100px;
}

.homepage-img-men {
  margin-left: 140px;
}

.homepage-img img {
  width: 80%;
  height: auto;
  max-width: 80%;
  max-height: 80%;
}

/* Add media query for smaller screens */
@media screen and (max-width: 768px) {
  .homepage-img-women {
    margin-right: 50px; /* Reduce margin for smaller screens */
  }

  .homepage-img-men {
    margin-left: 50px; /* Reduce margin for smaller screens */
  }

  .homepage-img img {
    width: 100%; /* Set width to 100% for smaller screens */
    max-width: none; /* Remove max-width */
    min-width: 200px; /* Set a minimum width for the images */
  }
}

.buyer-seller-section,
.extra-div {
  height: 250px;
  background-color: #27a08a;
}

.buyer,
.seller {
  text-align: center;
  font-size: 75px;
  font-weight: bold;
  font-family: "Outfit";
}

@media (max-width: 1000px) {
  .buyer,
  .seller {
    font-size: 4rem;
  }

}

@media (max-width: 1000px) {
  .community-details,
  .broker-details,
  .ad-details {

    padding: 0 2em;
  }
}

.buyer {
  color: white;
  text-decoration: none;
}

.seller {
  color: white;
  text-decoration: none;
}
.buyer-seller-grid:hover .homepage-img {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.buyer:hover,
.seller:hover {
  color: var(--orange);
  transform: scale(1.1) translateX(5px);
  transition: color 0.3s ease, transform 0.3s ease;
}

.homepage-img-men.enlarged img,
.seller.enlarged {
  transform: scale(1.1) translateY(-15px); /* Slide left */
  transition: transform 0.3s ease;
}

.homepage-img-women.enlarged img,
.buyer.enlarged {
  transform: scale(1.1) translateY(-15px); /* Slide right */
  transition: transform 0.3s ease;
}

.img-div1,
.img-div2,
.img-div3 {
  margin: auto;
}

.img-div1 {
  height: 220px;
}

.img-div2,
.img-div3 {
  height: 180px;
}

.community-img,
.broker-img,
.ad-img {
  max-width: 100%;
  max-height: 100%;
  
}

/* Media query for smaller screens */
@media screen and (max-width: 1000px) {
  .community-img,
  .broker-img,
  .ad-img {
    min-width: 100px; /* Set a minimum width for the images */
    min-height: 100px; /* Set a minimum height for the images */
  }
}

.homepage-btn {
  background-color: #f49f1f;
  border-radius: 35px;
  border: none;
  text-align: center;
  padding: 18px;
  width: 150px;
  cursor: pointer;
  /*to make the transition smoother*/
  transition: box-shadow 0.2s, background-color 0.2s;
}

.homepage-btn:hover {
  background-color: #ffb340;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.homepage-btn:active {
  opacity: 0.7;
}

.log-in-btn {
  margin-right: 15px;
}

.community-heading,
.ad-heading {
  text-align: center;
}

.community-heading,
.broker-heading,
.ad-heading {
  font-size: 40px;
  color: #2b3d50;
  font-weight: bold;
}

.broker-grid,
.extra-div {
  background-color: #27a08a;
  display: grid;
}

.community-details {
  text-align: center;
  margin: auto;
  padding-right: 5em;
}

.broker-details,
.ad-details {
  margin: auto;
  padding-right: 5em;
}

.broker-btns {
  text-align: center;
}

.community-heading,
.community-desc,
.broker-heading,
.broker-desc,
.ad-heading,
.ad-desc {
  margin-bottom: 25px;
  text-align: center;
}

.community-grid.slide-in,
.HomePageSuggestedPropertiesContainer.slide-in,
.ad-grid.slide-in {
  animation: slideInFromRight 1s ease-in-out;
}

.broker-grid.slide-in {
  animation: slideInFromLeft 1s ease-in-out;
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0.2;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0.2;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.HomePageSuggestedPropertiesContainer {
  padding-left: 10%;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 50px;
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0.2;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Media query for smaller screens */
@media screen and (max-width: 1000px) {
  .log-in-btn {
    margin-right: 10px; /* Adjust margin for smaller screens */
    margin-bottom: 10px; /* Add margin bottom for better spacing */
  }

  .broker-btns {
    display: flex;
    justify-content: center; /* Center-align buttons horizontally */
    /* Allow buttons to wrap to the next line if needed */
  }
}
