.LoginPage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../Res/image/launchBackground.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 1000px;
  width: 100%;
}

.LoginPage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: inherit;
  background-position: inherit;
  filter: blur(5px);
}
.LoginBlock {
  display: flex;
  flex-direction: column;
  width: 40%;
  z-index: 2;
  background-color: rgb(39, 160, 136, 0.8);
  border-radius: 30px;
}

form {
  margin: 0;
  padding: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-topic {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  color: white;
}

.login-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px auto;
  width: 65%;
}

#login-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-weight: 600;
  margin-top: 20px;
  padding-left: 20px;
}
#login-section > input {
  width: 90%;
  border-radius: 20px;
  height: 40px;
  border: none;
  padding-left: 20px;
  margin-left: -20px;
  margin-top: 5px;
  width: 100%;
}
#login-account {
  margin-top: 40px;
  background-color: #f49f1f;
  border: none;
  width:95%;
  padding: 10px 30px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
}

#dont-have-account {
  margin-top: 20px;
  text-align: center;
  z-index: 99;
}

#register-word {
  color: #f49f1f;
  font-weight: 600;
}
#register-word:hover {
  text-decoration: underline;
  cursor: pointer;
}

#login-account:hover {
  background-color: #e68700;
  color: white;
}
