
.ManageAccount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: center;


}

.ManageAccountCard{
    background-color: var(--darkGreen);
    border-radius: 30px;
    box-shadow: -2px 3px 12px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: -2px 3px 12px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: -2px 3px 12px 0px rgba(0, 0, 0, 0.16);
    padding: 30px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    
}

.ManageAccountCard h3{
    color: var(--white);
}

.InputDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 20px;

}

.InputDetails h7{
    text-align: left;
    width: 100%;
    align-items: left;
    font-size: 12px;
    font-weight: bold;
    margin: 3px;
    margin-left: 30px;
    
}

.Input{
    position: relative;
    text-align: center;
    background-color: var(--white);
    border-radius: 50px;
    width: 100%;
    color: var(--grey);
    text-align: left;
    padding: 10px;
    cursor: text;
    
}

.ManageAccountCard button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    background-color: var(--orange);
    text-align: center;
    width: fit-content;
    padding: 10px;
    padding-left: 90px;
    padding-right: 90px;
    border-radius: 50px;
    margin-left: 40px;
    box-shadow: 0px 3px 5px var(--darkBlue);
}

.ManageAccountCard button a{
    text-align: center;
    color: var(--darkBlue);
    font-family: "Zilla_Slab";
    font-size: 15px;
    text-decoration: none;
}

.ManageAccountCard button:hover{
    cursor: pointer;
    background-color: var(--white);
    box-shadow: 0px 1px 5px var(--darkBlue);
}

#user-image {
    width: 500px;
    height: 500px;
    object-fit: contain;
  }
