.MyAccountHeader{
    background-color: #27a088;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;

}

#details-vah{
    display: flex;
    align-items: center;
    margin-left: 19.02%;
    margin-bottom: .7%;
    margin-top: 2%;
    font-family: "Zilla_Slab";
}

.MyAccountHeader-desc{
    display: block;
    margin-left: 20px;
    justify-content: start;
    align-items: start;
}

hr{
    background-color: var(--f5);
    width: 74%;
    margin: 0 auto;
}

#account-link-container{
    margin-left: 13%;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
    font-size: 0.6em;
    padding: 5px 10px;
}

.account-link{
    font-family: "Outfit";
    color: var(--f5);
    display: inline-block;
    margin-right: 6%;
    transition: color 0.3s ease;
}

.selected-acc-link,
.account-link:hover {
    color: var(--orange);
}

.MyAccountHeader img {
    width: 25px;
    height: auto;
    margin-left: 20px;
    
  }