/* .MyAccountHeader {
  margin: 0;
  padding: 0;
  background-color: #27a088;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#details-vah {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: "Zilla_Slab";
}

.editButton {
  width: 50px;
}

#user-image-9902 {
  width: 60px;
  height: auto;
  margin-left: 20px;
}

.MyAccountHeader-desc {
  display: block;
  margin-left: 20px;
  justify-content: start;
  align-items: start;
}

hr {
  background-color: var(--f5);
  width: 74%;
  margin: 0 auto;
}

#account-link-container {
  display: flex;
  justify-content: center;
  font-size: 0.6em;
  padding: 5px 10px;
}

.account-link {
  font-family: "Outfit";
  color: var(--f5);
  display: inline-block;
  margin-right: 6%;
  padding: 0;
  transition: color 0.3s ease;
}

.selected-acc-link,
.account-link:hover {
  color: var(--orange);
}

.MyAccountHeader img {
  width: 25px;
  height: auto;
  margin-left: 20px;
}

#section {
  width: 200px;
  text-align: center;
} */
