.ReplyCard {
  background-color: #fffdef;
  display: flex;
  width: 80%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.first-div {
  display: flex;
}
.profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.profile-picture > img {
  width: 60px;
  height: auto;
  object-fit: fill;
}

#comment {
  margin-left: 20px;
}

#comment-user {
  font-size: 20px;
  font-weight: bold;
}

#comment-reply {
  margin-top: 5px;
}
.second-div {
  display: flex;
  column-gap: 20px;
  margin-top: 10px;
  font-size: 16px;
  font-family: "Roboto";
}

#last-seen {
  margin-left: 100px;
  color: #808080;
}

#like-button {
  border: none;
  width: 100px;
  background: none;
  text-align: start;
  font-size: 16px;
}

#like-total {
  font-weight: 600;
}

#like-button:hover {
  cursor: pointer;
}

.reply-bottom{
  display: flex;
  justify-content: space-between;
}

.open-button{
  height: 2em;
  border:none;
  width: 5em;
  margin-top: 0.5em;
  margin-right: 1em;
  border-radius: 8px;
  background-color: var(--darkGreen);  
  cursor: pointer;
}

.reply-input{
  margin-left: 10em;
}

#text{
  border: none;
  padding: 1em;
  background-color: rgb(255, 255, 255);
}


/* The popup chat - hidden by default */
.chat-popup {
  display: block;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 400px;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--darkGreen);
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  border-radius: 8px;
  min-height: 150px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  height: 2em;
  border: none;
  width: 5em;
  margin-left: 1em;
  margin-bottom: 0.5em;
  border-radius: 8px;
  font-size: 15px;
  background-color: var(--creamyWhite);
  cursor: pointer;

}

.reply-first-row{
  display: flex;
  justify-content: space-between;
}

.title{
  margin-top: 0.5em;
  margin-left: 1em;
}
.secondreply-section{
  margin-left: 2em;
}

/* Add a red background color to the cancel button */
#button-cancel {
  padding: 8px 12px;
  color: rgb(0, 0, 0);
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 25px;
}
#button-cancel:hover{
color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
  background-color: var(--grey)

}