#prop-card{
    background-color: orange;
    aspect-ratio: 1.14/1;
    text-align: start;
    border-radius: 10px;
}

#img-placeholder{
    aspect-ratio: 1.5/1;
    background-color: white;
}

#details{
    margin: 0 auto;
    padding-top: 4.64%;
    width: 84.34%;
}

#img-ph{
    width: 100%;
    height: 100%;
}