#header-container {
  aspect-ratio: 6/1;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../Res/image/login\ broker\ wallpaper.png");
  background-size: cover;
}

.properties-grid {
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flexbox;
}


.browserproperty-div {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.property-headline{
  box-sizing: border-box;
padding-bottom: 20px;
margin-bottom: 20px;
}