/* Ensure all elements use border-box for consistent sizing */
.property-browse-div,
.property-browse-div::before,
.property-browse-div::after {
  box-sizing: border-box;
}

.property-browse-div{
    width: 91%;
    margin: 2rem auto;
    /* padding: 0; */
}

.property-headline{
    font-family: "Outfit";
    font-weight: bold;
    font-size: 2.5em;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.properties-grid {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.04%;
  row-gap: 1rem;
  margin: 1.5rem;
  justify-content: start;
}

