.PropertyDetails {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.property-image-container{
  border-radius: 20px;
  margin-bottom: 30px;
  display: flex;
}
#mainproperty-image {
  width: 300px;

}
.property-image-div {
  border-radius: 20px;
  align-items: center;
  
}
.property-image-1row {
  border-radius: 20px;
  display: flex;
  align-items: center;
}

#property-image {
 
  width: 250px;

}

.property-display-card {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  background-color: var(--darkGreen);
  border-radius: 24px;
  box-shadow: inset var(--darkBlue) 0px 10px 10px -5px;
}

.ThumbnailImage {
  width: 128px;
  height: 128px;
  justify-items: center;
  background-color: var(--darkGreen);
  margin: 20px;
}

.MoreThumbnailsProperty {
  display: grid;
  place-items: center;
  cursor: pointer;
}

.MoreThumbnailsProperty img {
  align-items: center;
  background-color: var(--orange);
  box-shadow: 2px 2px 5px;
  width: 128px;
  margin: 12px;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}

.MoreThumbnailsProperty img:nth-child(1) {
  grid-area: 1/1;
  transform: translate(10px, 10px);
}

.MoreThumbnailsProperty img:nth-child(2) {
  grid-area: 1/1;
  transform: translate(5px, 5px);
}

.MoreThumbnailsProperty img:nth-child(3) {
  grid-area: 1/1;
  transform: translate(0px, 0px);
}

.MoreThumbnailsProperty:hover img:nth-child(1) {
  transform: translate(160px, 10px);
}
.MoreThumbnailsProperty:hover img:nth-child(2) {
  transform: translate(5px, 10px);
}
.MoreThumbnailsProperty:hover img:nth-child(3) {
  transform: translate(-150px, 10px);
}

.property-fist-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

#share-button {
  border: none;
  background: none;
  display: flex;
  column-gap: 10px;
  align-items: center;
  width: 100px;
  border-radius: 15px;
  background-color: #f49f1f;
  color: white;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#share-button:hover,
#seller-infobutton,
#saved-button:hover,
#button-buy:hover {
  cursor: pointer;
  box-shadow: 0px 1px 9px 0px rgba(159, 159, 159, 0.75);
  -webkit-box-shadow: 0px 1px 9px 0px rgba(159, 159, 159, 0.75);
  -moz-box-shadow: 0px 1px 9px 0px rgba(159, 159, 159, 0.75);
}

.property-second-row {
  padding: 20px 40px;
  display: flex;
}

.property-desc {
  padding: 10px 40px;
  margin-left: 50px;
  margin-right: 50px;
}
.property-third-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.property-fourth-row {
  display: flex;

}

#seller-name {
  font-weight: 600;
}

#button-buy {
  font-family: "Zilla_Slab";
  font-size: larger;
  padding: 10px;
  padding-left: 100px;
  padding-right: 100px;
  height: 50px;
  margin: 20px;
  margin-left: -10px;
  border: 0px;
  border-radius: 50px;
  background-color: var(--orange);
}


#saved-button {
  display: flex;
  align-items: center;
  column-gap: 10px;
  border: none;

  background: none;
  font-weight: 600;
  font: "Roboto";
  background-color: none;
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 12px;
  color: white;
  background-color: #f49f1f;
  margin-right: 60px;
  margin-left: 20px;
}
#saved-button img {
  width: 30px;
}

.comment-div {
  padding: 20px 35px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--creamyWhite);
  margin: 10px 30px;
  border-radius: 20px;
}

#imgbutton {
  column-gap: 10px;
  border: none;
  background: none;
  background-color: none;
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 30px;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  margin-right: 60px;
  margin-left: 20px;
}
.icon-box {

  font-size: 100px;
  color: var(--creamyWhite);
  transition: color 0.3s ease;
}

.icon-box1 {

  font-size: 50px;
  color: var(--creamyWhite);
  transition: color 0.3s ease;
}

.info-page-container {
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid var(--creamyWhite);
  border-radius: 4px;
  width: 600px;

}

h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.icon-with-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-inline: 30px;
}
.property-icon {
  font-size: 5rem; /* Adjust size as needed */
  margin-bottom: 2px;
  color: #ffffff;
}

.text {
  font-size: 2rem; /* Adjust size as needed */
  color: #333; /* Adjust color as needed */
}

.info-section {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.info-label {
  font-weight: bold;
  width: 40%;
}

.info-value {
  width: 60%;
}

.seller-info{
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 10px;
  margin-left: 50px;
  background-color: var(--creamyWhite);
  width: 200px;
}

#seller-infobutton {
  font-family: "Zilla_Slab";
  padding: 10px;
  width: 100px;
  margin: 20px;
  margin-left: 20px;
  border: 0px;
  border-radius: 50px;
  background-color: var(--creamyWhite);
}
