.PropertyDetails {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PropertyDetails svg{
  margin-top:15px;
  align-items: center;
  align-self: center;

}

.PropertyDetailsContainer {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.property-image-container{
  border-radius: 20px;
  margin-bottom: 30px;
  display: flex;
}
#mainproperty-image {
  width: 600px;
  max-width: 600px;
  height: 500px;
  max-height: 500px; /* Set the width to 100% to make it responsive */
  
}

.title-div{
  display: flex;
  padding-left: 3em;
  padding-right: 3em;
  justify-content: space-between;
  margin-bottom: 1em;
}
.property-image-div {
  border-radius: 20px;
  align-items: center;
}

.property-image-1row {
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.share-content{  
  background-color: none;
  width: 8em;
  height: 2em;
  border-radius: 15px;
  margin-right: 0.5em;
  cursor: pointer;
  
}

.share-content :hover{
  transition: all;
  background-color: rgba(250, 235, 215, 0.24);
}


#property-image {
  width: 300px; /* Set the width to 100% to make it responsive */
  max-width: 300px;
  height: 250px; 
  max-height: 250px;/* Set a maximum width to prevent it from becoming too large on larger screens */
}

/* Media query for screens smaller than 768px */
#imgbutton {
  column-gap: 10px;
  border: none;
  background: none;
  background-color: none;
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 30px;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  margin-right: 60px;
  margin-left: 20px;
}
.delete-button,
.edit-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  height: 60px;
  margin-top: 30px;
  border: 2px solid rgb(244, 159, 31);
  background-color: white;
  border-radius: 8px;
  font-weight: 600;
  width: 60px;
  padding: 5px;
}

.Overview-edit{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  margin-bottom: 30px;
}
#edit-icon {
  width: 30px;
  height: auto;
  margin-bottom: 10px;
}
#delete-icon {
  width: 20px;
  height: auto;
  margin-bottom: 10px;
}
.delete-button:hover,
.edit-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 0.75);
}


.overview-progressbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#overview-progressbar {
  width: 70%;
}

.price{
  background-color: var(--creamyWhite);
  border: none; 
  width: 15em;
  height: 5em;
  border-radius: 8px;
  margin-top: 2em;
}

.icon-box {

  font-size: 100px;
  color: var(--creamyWhite);
  transition: color 0.3s ease;
}

.icon-box1 {

  font-size: 50px;
  color: var(--creamyWhite);
  transition: color 0.3s ease;
}

.info-page-container {
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid var(--creamyWhite);
  border-radius: 4px;
  width: 600px;

}

h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.icon-with-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-inline: 30px;
}


.property-icon {
  font-size: 5rem; /* Adjust size as needed */
  margin-bottom: 2px;
  color: #ffffff;
}

.property-icon svg{
  width: 3em;
  height: 3em;
}

.text {
  font-size: 2em; 
  color: #333; 
}  

.property-desc {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
}

#seller-name {
  font-weight: 600;
}

#button-buy {
  font-family: "Zilla_Slab";
  font-size: larger;
  padding: 10px;
  padding-left: 100px;
  padding-right: 100px;
  height: 50px;
  margin: 20px;
  margin-left: -10px;
  border: 0px;
  border-radius: 50px;
  background-color: var(--orange);
}


#saved-button img {
  margin-right: 5px;
  width: 30px;
}

.comment-div {
  padding: 20px 35px;
  /*display: flex;*/
  flex-direction: column;
  text-align: center;
  background-color: var(--creamyWhite);
  margin: 10px 30px;
  border-radius: 20px;
}

 
.info-section {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.info-label {
  font-weight: bold;
  width: 40%;
}

.info-value {
  width: 60%;
}

.seller-info{
  margin: 2rem auto;
  padding: 2rem;
  align-items: center;
  align-self: center;
  align-content: center;
  border-radius: 10px;
  margin-left: 50px;
  background-color: var(--creamyWhite);
  width: 400px;
}
.ProfileView{
 margin-left: 35%;
}

.seller-content{
  align-items: center;
  align-self: center;
  align-content: center;
}

 .seller-detail{
margin-left: 5%;
 }

 .MoreThumbnailsProperty img:nth-child(1) {
  grid-area: 1/1;
  transform: translate(10px, 10px);
}

.MoreThumbnailsProperty img:nth-child(2) {
  grid-area: 1/1;
  transform: translate(5px, 5px);
}

.MoreThumbnailsProperty img:nth-child(3) {
  grid-area: 1/1;
  transform: translate(0px, 0px);
}

.MoreThumbnailsProperty:hover img:nth-child(1) {
  transform: translate(160px, 10px);
}
.MoreThumbnailsProperty:hover img:nth-child(2) {
  transform: translate(5px, 10px);
}
.MoreThumbnailsProperty:hover img:nth-child(3) {
  transform: translate(-150px, 10px);
}

.property-fist-row {
  width: 100%;
  /*display: flex;*/
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 20px;
}


#share-button:hover,
#seller-infobutton,
#saved-button:hover,
#button-buy:hover {
  cursor: pointer;
  box-shadow: 0px 1px 9px 0px rgba(159, 159, 159, 0.75);
  -webkit-box-shadow: 0px 1px 9px 0px rgba(159, 159, 159, 0.75);
  -moz-box-shadow: 0px 1px 9px 0px rgba(159, 159, 159, 0.75);
}

.property-second-row {
  display: flex;
  justify-content: center;
  padding: 0 10px;
}
.property-third-row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.property-fourth-row {
  display: flex;
  justify-content: center;
  padding: 0 10px;
}

@media (max-width: 1380px) {
  #mainproperty-image {
    width: 500px;
    max-width: 500px;
  height: 400px; 
  max-height: 400px /* Adjust the maximum width for smaller screens */
  }
  
  #property-image {
    width: 200px; /* Set the width to 100% to make it responsive */
  max-width: 200px;
  height: 200px; 
  max-height: 200px;
    
  }}

@media (max-width: 1060px) {
  #mainproperty-image {
    width: 350px;
    max-width: 350px;
  height: 350px; 
  max-height: 350px /* Adjust the maximum width for smaller screens */
  }
  
  #property-image {
    width: 175px; /* Set the width to 100% to make it responsive */
  max-width: 175px;
  height: 175px; 
  max-height: 175px;
    
  }

  @media (max-width: 800px) {
    #mainproperty-image {
      width: 220px;
      max-width: 220px;
    height: 250px; 
    max-height: 250px /* Adjust the maximum width for smaller screens */
    }
    
    #property-image {
      width: 100px; /* Set the width to 100% to make it responsive */
    max-width: 100px;
    height: 125px; 
    max-height: 125px;
      
    }}

    @media (max-width: 480px) {
      #mainproperty-image {
        width: 150px;
        max-width: 150px;
      height: 180px; 
      max-height: 180px /* Adjust the maximum width for smaller screens */
      }
      
      #property-image {
        width: 75px; /* Set the width to 100% to make it responsive */
      max-width: 75px;
      height: 90px; 
      max-height: 90px;
        
      }}



  .property-image-div
  .property-image-1row {
    border-radius: 20px;
    display: flex; /* Stack items vertically on smaller screens */
  }
  .property-image-container{
    border-radius: 20px;
    margin-bottom: 30px;
    
    display: flex;
  }
}


.property-display-card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  background-color: var(--darkGreen);
  border-radius: 24px;
  box-shadow: inset var(--darkBlue) 0px 10px 10px -5px;
}

.ProfileView {
  margin-top: 10px;
  margin-left: 125px;
  margin-bottom: 10px;
  height: fit-content;
  border-radius: 50%;
  box-shadow: 0px 2px 12px var(--darkBlue);
}

@media (max-width: 1000px) {

  .ProfileView {
  margin-bottom: 20px;
  margin-left: 50px;
  height: fit-content;
  border-radius: 100%;
  box-shadow: 0px 2px 12px var(--darkBlue);
  align-items: center;
}
#saved-button {
  display: flex;
  align-items: center;
  column-gap: 10px;
  border: none;
  background: none;
  font-weight: 600;
  font: "Roboto";
  background-color: none;
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 12px;
  color: white;
  background-color: #f49f1f;
  margin-right: 60px;
  margin-left: 20px;
}
#saved-button img {
width: 20px;
}

#button-buy {
  font-family: "Zilla_Slab";
  font-size: larger;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  height: 40px;
  font-weight: 600;

}
.icon-with-text {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;

margin-top: 20px;
margin-bottom: 20px;
}


h1 {
font-size: 1.5em;
}
.text {
font-size: 1.5em; 
color: #333; 
}
.property-icon {
font-size: 4rem; /* Adjust size as needed */
margin-bottom: 2px;
color: #ffffff;
}


.property-desc {
padding: 10px 40px;
margin-left: 0px;
margin-right: 0px;
}
}

.ThumbnailImage {
  width: 128px;
  height: 128px;
  justify-items: center;
  background-color: var(--darkGreen);
  margin: 20px;
}

.MoreThumbnailsProperty {
  display: grid;
  place-items: center;
  cursor: pointer;
}



.MoreThumbnailsProperty img {
  align-items: center;
  background-color: var(--orange);
  box-shadow: 2px 2px 5px;
  width: 128px;
  height: 128px;
  margin: 12px;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}

@media (max-width: 780px) {

  .MoreThumbnailsProperty  {
  padding: 5px;
  
  }
  .MoreThumbnailsProperty img {
    width: 75px;
  height: 75px;
  
  }
}



@media (max-width: 1000px) {
  .property-second-row img {
    max-width: 20%; /* Adjust image size for smaller screens */
  }


.property-desc {
  padding: 10px 40px;
  margin-left: 50px;
  margin-right: 50px;

  
}
.property-third-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 30px; /* Stack items vertically on smaller screens */
  }

.property-fourth-row {
  display: flex;
  justify-content: space-around;
}}

@media (max-width: 680px) {
  .property-fourth-row {
    justify-content: space-between; /* Distribute items with equal space between them */
    flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
  }
}



@media (max-width: 768px) {
  .comment-div {
    padding: 10px; /* Adjust padding for smaller screens */
    margin: 5px; /* Adjust margin for smaller screens */
    border-radius: 10px;
  }
}



@media (max-width: 580px) {

  #saved-button {
    display: flex;
    align-items: center;
    column-gap: 10px;
    border: none;
    background: none;
    font-weight: 600;
    font: "Roboto";
    background-color: none;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 12px;
    color: white;
    background-color: #f49f1f;
    margin-right: 60px;
    margin-left: 20px;
}
#saved-button img {
  width: 20px;
}

  #button-buy {
    font-family: "Zilla_Slab";
    font-size: larger;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    height: 40px;
    font-weight: 600;

}
  .icon-with-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-inline: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
h1 {
  font-size: 1.8em;
}
.text {
  font-size: 1.2em; 
  color: #333; 
}
.property-icon {
  font-size: 3rem; /* Adjust size as needed */
  margin-bottom: 2px;
  color: #ffffff;
}

.property-desc {
  padding: 10px 40px;
  margin-left: 0px;
  margin-right: 0px;
}
}



@media (max-width: 500px) {
  .seller-info {
  width: 600px;
  align-items: center;
  margin-left: -7px;
  }
}

#seller-infobutton {
  font-family: "Zilla_Slab";
  padding: 10px;
  width: 100px;
  margin: 20px;
  margin-left: 20px;
  border: 0px;
  border-radius: 50px;
  background-color: var(--creamyWhite);
}

@media (max-width: 500px) {
  #seller-infobutton {
    padding: 8px; /* Adjust padding for smaller screens */
    width: 80px; /* Adjust width for smaller screens */
    margin: 10px; /* Adjust margin for smaller screens */
    margin-left: 60px; /* Adjust left margin for smaller screens */
  }
}

@media (max-width: 500px) {
  .seller-info {
    padding: 0.5rem; /* Further reduce padding for smaller screens */
    margin-left: 5px; /* Further adjust margin for smaller screens */
  }
  
  .seller-info h2 {
    font-size: 2rem;/* Further adjust font size for smaller screens */
    
  }

  .seller-info h4 {
    font-size: 1.5rem; /* Further adjust font size for smaller screens */
  }

  .seller-info p {
    font-size: 1.25rem; /* Further adjust font size for smaller screens */
  }
}