.PropertyDetailsOverview {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#overview-img {
  width: 250px;
  height: auto;
  border-radius: 15px;
}

.property-overview {
  background-color: var(--darkGreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin-top: 30px;
  border-radius: 15px;
}

/*-----Applied in Verify Property-----*/

.MoreThumbnails {
  display: grid;
  place-items: center;
  cursor: pointer;
}

.MoreThumbnails img {
  align-items: center;
  background-color: var(--orange);
  box-shadow: 2px 2px 5px;
  width: 270px;
  aspect-ratio: 1.5/1;
  margin: 12px;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}

.MoreThumbnails img:nth-child(1) {
  grid-area: 1/1;
  transform: translate(10px, 10px);
}

.MoreThumbnails img:nth-child(2) {
  grid-area: 1/1;
  transform: translate(5px, 5px);
}

.MoreThumbnails img:nth-child(3) {
  grid-area: 1/1;
  transform: translate(0px, 0px);
}

.MoreThumbnails:hover img:nth-child(1) {
  transform: translate(290px, 10px);
}
.MoreThumbnails:hover img:nth-child(2) {
  transform: translate(0px, 10px);
}
.MoreThumbnails:hover img:nth-child(3) {
  transform: translate(-290px, 10px);
}

/*----------------------*/

.delete-button,
.edit-button,
.share-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  height: 60px;
  margin-top: 30px;
  border: 2px solid rgb(244, 159, 31);
  background-color: white;
  border-radius: 8px;
  font-weight: 600;
  width: 60px;
  padding: 5px;
}

#edit-icon,
#share-icon {
  width: 30px;
  height: auto;
  margin-bottom: 10px;
}

#delete-icon {
  width: 20px;
  height: auto;
  margin-bottom: 10px;
}

.delete-button:hover,
.edit-button:hover,
.share-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 0.75);
}

.share-button {
  margin-top: 0;
  margin-left: 20px;
  flex-direction: row;
  background-color: rgb(244, 159, 31);
}

/*------------------------*/

.overview-first-row,
.overview-second-row,
.overview-third-row {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  margin-bottom: 30px;
}

.overview-third-row {
  padding: 0px 80px;
  font: "Roboto";
  font-size: 20px;
}

.overview-fourth-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#overview-fourth-row {
  width: 70%;
}

.title-share{
  display:flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}

.title-input, .price-input{
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-input .info-label, .price-input .info-label{
  font-size: 2rem;
  width: fit-content;
}

.title-input input, .price-input input{
  height: 3rem;
  padding-left: 1rem;
  border-radius: 20px;
  border: none;
}

.info-page-container{
  margin-top: 30px;
  width: 60%;
}

.info-page-container input{
  height: 3rem;
  padding-left: 1rem;
  border-radius: 20px;
  border: 1px solid black;
}

.info-page-container button{
  width: 150px;
  background-color: var(--orange);
  border: none;
  height: 3rem;
  border-radius: 25px;
  display: block;
  margin: 10px auto;
}

.info-page-container button:hover {
  background-color: #e68700;
  color: white;
}

.property-desc textarea{
  min-height: 120px;
}

@media (max-width: 1050px) {
  .info-page-container{
    width: 70%;
  }

  .info-page-container input{
    width: 200px;
  }
}

@media (max-width: 820px) {
  .info-page-container{
    width: 85%;
  }
}

@media (max-width: 700px) {
  .info-page-container{
    width: 90%;
  }
}

@media (max-width: 570px) {
  .info-page-container{
    width: 98%;
  }

  .title-share{
    width: 100%;
  }

  .title-input input, .info-page-container input{
    width: 170px;
  }
}

/*----------------------*/

/* Large screens (desktops, 1200px and up) */
@media (max-width: 1300px) {

  .MoreThumbnails img{
      width: 200px;
  }

  .MoreThumbnails:hover img:nth-child(1){
      transform: translate(220px,10px);
  }
  .MoreThumbnails:hover img:nth-child(2){
      transform: translate(0,10px);
  }
  .MoreThumbnails:hover img:nth-child(3){
      transform: translate(-220px,10px);
  }
}

/* Medium screens (tablets, 992px and up) */
@media (max-width: 992px) {
  
  .MoreThumbnails img{
      width: 180px;
  }

  .MoreThumbnails:hover img:nth-child(1){
      transform: translate(190px,10px);
  }
  .MoreThumbnails:hover img:nth-child(2){
      transform: translate(0,10px);
  }
  .MoreThumbnails:hover img:nth-child(3){
      transform: translate(-190px,10px);
  }
}

/* Small screens (landscape phones, 768px and up) */
@media (max-width: 795px) {
  
  .MoreThumbnails img{
      width: 160px;
  }

  .MoreThumbnails:hover img:nth-child(1){
      transform: translate(180px,10px);
  }
  .MoreThumbnails:hover img:nth-child(2){
      transform: translate(0,10px);
  }
  .MoreThumbnails:hover img:nth-child(3){
      transform: translate(-180px,10px);
  }
}

/* Extra small screens (portrait phones, less than 576px) */
@media (max-width: 680px) {

  .MoreThumbnails img{
      width: 150px;
  }

  .MoreThumbnails:hover img:nth-child(1){
      transform: translate(160px,10px);
  }
  .MoreThumbnails:hover img:nth-child(2){
      transform: translate(0,10px);
  }
  .MoreThumbnails:hover img:nth-child(3){
      transform: translate(-160px,10px);
  }
}

@media (max-width: 570px) {
  
  .MoreThumbnails img{
      width: 140px;
  }

  .MoreThumbnails:hover img:nth-child(1){
      transform: translate(150px,10px);
  }
  .MoreThumbnails:hover img:nth-child(2){
      transform: translate(0,10px);
  }
  .MoreThumbnails:hover img:nth-child(3){
      transform: translate(-150px,10px);
  }
}