.PublishProperty {
  padding-top: 5%;
  padding-bottom: 20%;
  background-image: url("../../Res/image/sellBackground.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.publish-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
  background-color: rgba(39, 160, 136, 0.8);
  border-radius: 30px;
  padding: 2rem;
  margin-top: 5em;
  position: relative;
}

.cart-box {
  height: 150px;
  width: 150px;
  background-color: white;
  margin: auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-box img {
  width: 100px;
  height: 100px;
}

.input-div,
.property-details {
  display: flex;
  flex-direction: column;
}

.section-input {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.section-input input {
  border-radius: 20px;
  height: 3rem;
  border: none;
  padding-left: 1rem;
}

.section-input > span {
  margin-bottom: 5px;
}

.input-div select,
.input-div input[type="file"] {
  border-radius: 15px;
  height: 2rem;
  border: none;
  padding-left: 1rem;
}

.add-img-files-div {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.add-img-files-btn:active {
  opacity: 0.8;
}

.input-div input[type="file"] {
  margin-bottom: 20px;
}
.add-img-files-div {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#upload-container {
  display: flex;
  align-self: center;
}

#upload-img {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 5px;
  transition: transform 0.3s;
  margin-right: 2em;
}

.custom-file-upload {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: transform 0.3s;
  text-align: center;
  margin-top: 20px;
}

.custom-file-upload:hover {
  opacity: 0.8;
  transform: translateY(-10px);
}

.custom-file-upload:hover img {
  transform: translateY(-10px);
}

.custom-file-upload h4 {
  color: #b2b2b2;
}

.files-grid {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.publish-div {
  text-align: center;
  margin-top: 20px;
}

.publish-btn {
  background-color: #f49f1f;
  border-radius: 35px;
  border: none;
  text-align: center;
  font-size: 15px;
  padding: 18px;
  width: 220px;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s, background-color 0.2s;
}

.publish-btn:hover {
  background-color: #ffb340;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.publish-btn:active,
.view-btn:active,
.add-img-files-btn:active {
  opacity: 0.8;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}


label {
  width: 100%;
  height: 100%;
}
#submit-div {
  display: flex;
  justify-content: center;
}

#submit-button {
  padding: 10px;
  width: 40%;
  border-radius: 15px;
  background-color: white;
  color: black;
}

#submit-button:hover {
  background-color: #f49f1f;
  color: white;
}
