.PublishProperty {
  padding-top: 5%;
  padding-bottom: 20%;
  background-image: url("../../Res/image/sellBackground.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.publish-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
  background-color: rgba(39, 160, 136, 0.8);
  border-radius: 30px;
  padding: 2rem;
  margin-top: 5em;
}

.cart-box {
  height: 150px;
  width: 150px;
  background-color: white;
  margin: auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-box img {
  width: 100px;
  height: 100px;
}

.input-div,
.property-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  
}

.section-input input{
  border-radius: 20px;
  height: 3rem;
  border: none;
  padding-left: 1rem;
}

.section-input > span {
  margin-bottom: 5px;
}

.input-div select,
.input-div input[type="file"] {
  border-radius: 20px;
  height: 3rem;
  border: none;
  padding-left: 1rem;
}


.publish-div {
  text-align: center;
  margin-top: 20px;
}

.publish-btn {
  background-color: #f49f1f;
  border-radius: 35px;
  border: none;
  text-align: center;
  font-size: 15px;
  padding: 18px;
  width: 220px;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s, background-color 0.2s;
}

.publish-btn:hover {
  background-color: #ffb340;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.publish-btn:active,
.view-btn:active {
  opacity: 0.8;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
