#header-container {
    aspect-ratio: 6/1;
    width: 100%;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../Res/image/login\ broker\ wallpaper.png");
    background-size: cover;
  }
  