@import url("/src/Res/Colors.css");

.DropdownBase{
    height: 100%;
    width: 4em;
    background-color: var(--darkBlue);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.DropdownBar{
    width: 4em;
    height: 0.5em;
    background-color: var(--orange);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.DropdownBar.clicked:nth-child(1){
    transform: rotate(90deg) translate(1em,0em);
    transition: ease-out 0.5s;
}

.DropdownBar.clicked:nth-child(2){
    transform: rotate(45deg) translate(-1.0em,1.1em);
    transition: ease-out 0.5s;
}

.DropdownBar.clicked:nth-child(3){
    transform: rotate(-45deg) translate(1.7em,0.2em);
    transition: ease-out 0.5s;
}

.DropdownBar.unclicked{
    transform: rotate(0) translate(0);
}