@import url("/src/Res/Colors.css");

.menu {
  position: absolute;
  top: 5em;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 560px;
  min-width: 240px;
  height: 30em;
  background-color: var(--orange);
}

.ProfileViewDetailsCard {
  display: block;
  width: 100%;
  margin-left: 24px;
  height: fit-content;
  transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
}

.ProfileViewDetailsCard:hover {
  padding-top: 36px;
  padding-bottom: 36px;
}

.ProfileViewDetailsCard:hover .ProfileViewName {
  font-size: 32px;
}

.ProfileViewDetailsCard:hover .ProfileViewDesc {
  font-size: 32px;
}

.ProfileView {
  margin-top: 10px;
  height: fit-content;
  border-radius: 50%;
  box-shadow: 0px 2px 12px var(--darkBlue);
}

.ProfileViewName {
  font-family: "Zilla_Slab";
  width: fit-content;
  text-align: left;
  padding: 0;
  margin: 10px;
  color: var(--darkBlue);
  border-bottom: 1px solid var(--darkBlue);
  transition: font-size 0.3s ease-in-out;
}

.ProfileViewDesc {
  font-family: "Zilla_Slab";
  text-align: left;
  padding: 0;
  margin: 10px;
  color: var(--darkBlue);
  transition: font-size 0.3s ease-in-out;
}

.NavHeader .DropdownMenuNavigation {
  background-color: var(--darkBlue);
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 12px;
  box-shadow: 0px 3px 8px;
}

.DropdownMenuNavigation h1 {
  font-size: 16px;
  text-align: center;
  color: var(--orange);
}

.NavHeader .DropdownMenuNavigationItem {
  justify-content: center;
  align-content: center;
  transition: all 0.3s ease-out;
}

.NavHeader .DropdownMenuNavigationItem a {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
}

.NavHeader .DropdownMenuNavigationItem:hover {
  transition: all 0.3s ease-out;
  align-content: center;
  background-color: var(--white);
}

.NavHeader .DropdownMenuNavigationItem:active {
  transition: all 0s ease;
  background-color: var(--orange);
}

.hidden {
  display: none;
}

.visible {
  display: inherit;
}
