.Navbar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #2b3d50;
  height: 200px;
  gap: 30px;
  color: rgb(47, 231, 255);
}
#user {
  display: flex;
  flex-direction: column;
}

#nav {
  color: white;
  text-decoration: none;
}

#nav:hover {
  color: rgb(0, 119, 255);
}

section {
  margin-top: 5px;
}
