h3 {
  color: white;
}

.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #2b3d50;
  height: 160px;
  gap: 20px;
}

#nav {
  color: white;
  text-decoration: none;
}

#nav:hover {
  color: rgb(0, 119, 255);
}

section {
  margin-top: 5px;
}
