.NavHeader {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 5em;
  display: flex;
  background-color: var(--darkBlue);
  padding: 1em;
  justify-content: space-between;
  z-index: 1;

}

.left-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.NavigatorRightHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavTitle {
  font-family: "Outfit", sans-serif;
  font-size: 32px;
  color: var(--orange);
}

.Navigator {
  color: var(--white);
  display: flex;
  align-items: center;
  padding: 0.25rem;
  cursor: pointer;
}

.NavHeader ul {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.NavHeader li {
  padding: 0 1rem;
}

.nav-item.active {
  background-color: var(--orange);
}

.nav-item.active .Navigator {
  color: var(--darkBlue);
}

#navHeader-broker-button {
  border-bottom: 5px solid;
  border-color: var(--orange);
  animation: move 2s linear infinite;
}

@keyframes move {
  0% { border-color: #33CCCC; }
  20% { border-color: #33CC36; }
  40% { border-color: #B8CC33; }
  60% { border-color: var(--orange); }
  80% { border-color: #33CC36; }
  100% { border-color: #33CCCC; }
}

/* Media queries for responsiveness */
@media (max-width: 1000px) {
  .NavHeader {
    flex-direction: column;
    height: auto;
  }

  .NavigatorRightHeader {
    display: none; /* Hide the nav items */
  }

  .DropdownMenu {
    display: block; /* Show the dropdown menu */
  }

  .NavTitle {
    font-size: 24px;
  }
}

.DropdownMenuIcon {
  display: none; /* Hide by default */
  font-size: 24px;
  cursor: pointer;
}


@media (max-width: 1000px) {
  .DropdownMenuIcon {
    display: block; /* Show on mobile */
  }
}
