*{
    font-size: 16px;
}

.DocumentRejection{
    background-color: var(--creamyWhite);
    display: flex;
    flex-direction: column;
    /*justify-content: center;
    align-items: center;*/
    all: none;
    position: absolute;
    top: 170%;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 2px 5px;
    width: 550px;
}

.DocumentRejection h1{
    text-align: right;
    border-bottom: 1px solid var(--grey);
    font-size: 1.9em;
    padding-bottom: 8px;
}

.DocumentRejection h3{
    font-family: 'Roboto-Light';
    text-align: left;
    padding: 15px;
    width: 100%;
    font-size: 1.5em;
}

.DocumentRejection textarea{
    padding: 12px;
    width: 100%;
    border-radius: 20px;
    border: 0px;
    background-color: var(--white);
    margin-top: 8px;
    color: var(--darkBlue);
    word-wrap: break-word;
    min-height: 120px;
    max-height: fit-content;
    margin-bottom: 15px;
}

.DocumentRejection div{
    display: flex;
    gap: 12px;
    justify-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}

.DocumentRejection h5.Cancel{
 background-color: var(--orange);
 color: var(--white);
 padding: 12px;
 border-radius: 25px;
 cursor: pointer;
 transition: padding 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.DocumentRejection h5.Cancel:hover{
    opacity: 80%;
    padding-left: 24px;
    padding-right: 24px;
}
.DocumentRejection h5.Cancel:active{
    transition: background-color 0s;
    background-color: var(--white);
}

.DocumentRejection h5.Send{ 
 background-color: var(--darkGreen);
 color: var(--white);
 padding: 12px;
 border-radius: 25px;
 cursor: pointer;
 transition: padding 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.DocumentRejection h5.Send:hover{
    opacity: 80%;
    padding-left: 24px;
    padding-right: 24px;
}
.DocumentRejection h5.Send:active{
    transition: background-color 0s;
    background-color: var(--white);
}

.DocumentRejection-hidden{
    display: none;
}

/* Large screens (desktops, 1200px and up) */
@media (max-width: 1200px) {
    .DocumentRejection{
        top: 150%;
    }
  }
  
  /* Medium screens (tablets, 992px and up) */
  @media (max-width: 992px) {

    .DocumentRejection{
        width: 520px;
        top: 140%;
    }
  }

  /* Small screens (landscape phones, 768px and up) */
  @media (max-width: 795px) {

    .DocumentRejection{
        width: 500px;
        top: 130%;
    }
  }
  
  /* Extra small screens (portrait phones, less than 576px) */
  @media (max-width: 680px) {

    .DocumentRejection{
        width: 450px;
    }
  }

@media (max-width: 570px) {

    .DocumentRejection{
        width: 400px;
        top: 135%;
    }
  }