.LoginBroker{
    display: flex;
    justify-content: center;
}

.LoginBrokerCard{
    width: 75%;
    font-family: "Zilla-Slab";
    background-color: var(--darkGreen);
    display: flex;
    flex-direction: column;
    color: var(--darkBlue);
    box-shadow: inset var(--darkBlue) 0px 10px 10px -5px;
    margin: 64px;
    padding: 24px;
    border-radius: 50px;
}

.LoginBrokerCard h3{
    color: var(--white);
    text-align: center;
}
.LoginBrokerCard h5{
    text-align: center;
}

.LoginBrokerCard input{
    position: relative;
    text-align: center;
    background-color: var(--white);
    border-radius: 50px;
    width: 100%;
    color: var(--grey);
    text-align: left;
    padding: 10px;
    cursor: text;
    box-shadow: 0px 2px 5px var(--darkBlue);
    border: 0px;
}

.InputDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 20px;
}

.InputDetails h7{
    text-align: left;
    width: 100%;
    align-items: left;
    font-size: 12px;
    font-weight: bold;
    margin: 3px;
    margin-left: 30px;
}

.Input{
    position: relative;
    text-align: center;
    background-color: var(--white);
    border-radius: 50px;
    width: 100%;
    color: var(--grey);
    text-align: left;
    padding: 10px;
    cursor: text;
    box-shadow: 0px 2px 5px var(--darkBlue);
}

.LoginBrokerCard button{
    border: 0px;
    align-self: center;
    background-color: var(--orange);
    color: var(--darkBlue);
    font-family: "Zilla_Slab";
    font-size: 24px;
    width: fit-content;
    padding: 10px;
    padding-left: 90px;
    padding-right: 90px;
    border-radius: 50px;
    box-shadow: 0px 3px 5px var(--darkBlue);
}

.LoginBrokerCard button a{
    align-self: center;
    color: var(--darkBlue);
    font-family: "Zilla_Slab";
    font-size: 24px;
}

.LoginBrokerCard button:hover{
    cursor: pointer;
    background-color: var(--white);
    box-shadow: 0px 1px 5px var(--darkBlue);
}

.LoginBrokerToLogin{
    font-family: 'Zilla_Slab';
    font-size: 28px;
    display: flex;
    justify-content: center;
    color: var(--darkBlue);
}

.LoginBrokerToLogin a{
    text-decoration: none;
    margin: 0;
    color: var(--orange);
    margin-left: 5px ;
}

.LoginBrokerToLogin a:hover{
    color: var(--white);
    cursor: pointer;
}