.LoginBroker {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
}

.LoginBrokerCard {
  width: 40%;
  background-color: var(--darkGreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--darkBlue);

  padding: 24px;
  border-radius: 50px;
  margin-top: 50px;
  font-family: "Roboto";
  height: 400px;
  min-width: 500px;
}

.LoginBrokerCard h1 {
  color: var(--white);
  text-align: center;
}
.LoginBrokerCard h3 {
  text-align: center;
  margin-bottom: 20px;
}

#broker-login-button {
  width: 100%;
  background-color: #f49f1f;
  padding: 5px 10px;
  border-radius: 20px;
  margin-bottom: 5px;
}

#broker-login-button a {
  align-self: center;
  color: var(--darkBlue);
  font-size: 24px;
}

.LoginBrokerCard button:hover {
  cursor: pointer;
  background-color: var(--white);
  box-shadow: 0px 1px 5px var(--darkBlue);
}

.LoginBrokerToLogin {
  font-size: 28px;
  display: flex;
  justify-content: center;
  color: var(--darkBlue);
}

.LoginBrokerToLogin a {
  text-decoration: none;
  margin: 0;
  color: var(--orange);
  margin-left: 5px;
}

.LoginBrokerToLogin a:hover {
  color: var(--white);
  cursor: pointer;
}

.broker-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-left: 60px;
  padding: 0 20px;
}

.broker-login > .broker-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.broker-input > span {
  margin-left: 10px;
}

#broker-email,
#broker-password {
  padding: 10px 10px;
  border-radius: 15px;
  border: none;
  margin-top: 5px;
  width: 100%;
}

.button-section {
  margin: 0 30px;
}
