.RegisterBroker {
  display: flex;
  justify-content: center;
  background-image: url("../../Res/image/register\ background.png");
  background-size: cover;
  background-position: center;
  margin: 0;
  width: 100%;
  min-height: 105vh;
}


.RegisterBrokerCard {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
  background-color: rgba(39, 160, 136, 0.8);
  border-radius: 30px;
  padding: 2rem;
  margin-top: 5em;
}

form {
  margin: 0;
  padding: 0;
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form h1, .h3-heading {
  text-align: center;
  color: white;
}

.h3-heading{
  margin-bottom: 2rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-details input {
  border-radius: 20px;
  height: 3rem;
  border: none;
  padding-left: 1rem;
}

.broker-create-account {
  margin-top: 20px;
  background-color: #f49f1f;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
}

.broker-create-account:hover {
  background-color: #e68700;
  color: white;
}

.broker-register-to-login {
  display: flex;
  justify-content: center;
}

.login {
  font-weight: 600;
  margin-left: 5px;
}

.login:hover {
 
  cursor: pointer;
}

.error {
  color: red;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.show-password {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.show-password input {
  margin-right: 5px;
}

.broker-register-upload-file {
  align-self: center;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  width: 92%;
  padding: 18px;
  margin: 10px;
  transition: width 0.3s ease-out, height 0.3s ease-out;
}

.broker-register-upload-file input {
  display: none;
}

.broker-register-upload-file label {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
}

.broker-register-upload-file label img {
  align-items: center;
  width: 25%;
  transition: margin-bottom 1s ease-out;
}

.broker-register-upload-file:hover{
  width: 102%;
}
.show-file-ic, .show-file-license{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.show-file-ic img,.show-file-license img{
width: 100px;
}