*{
    margin: 0;
    box-sizing: border-box;
}

.VerifyProperty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ThumbnailImage{
    width: 128px;
    height: 128px;
    justify-items: center;
    background-color: var(--darkGreen);
    margin: 20px;
}

.MoreThumbnails{
    display: grid;
    place-items: center;
    cursor: pointer;
}

.MoreThumbnails img{
    align-items: center;
    background-color: var(--orange);
    box-shadow: 2px 2px 5px;
    width: 128px;
    margin: 12px;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
}

.MoreThumbnails img:nth-child(1){
    grid-area: 1/1;
    transform: translate(10px,10px);
}

.MoreThumbnails img:nth-child(2){
    grid-area: 1/1;
    transform: translate(5px,5px);
}

.MoreThumbnails img:nth-child(3){
    grid-area: 1/1;
    transform: translate(0px,0px);
}

.MoreThumbnails:hover img:nth-child(1){
    transform: translate(160px,10px);
}
.MoreThumbnails:hover img:nth-child(2){
    transform: translate(5px,10px);
}
.MoreThumbnails:hover img:nth-child(3){
    transform: translate(-150px,10px);
}



.PropertyDetailsCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    background-color: var(--lightGreen);
    border-radius: 24px;
    box-shadow: inset var(--darkBlue) 0px 10px 10px -5px;
    
}

.PropertyDetailsCard h1,
.PropertyDetailsCard p{
    width: 500px;
}

.PropertyDetailsCard h1{
    font-family: "Outfit";
}

.PropertyDetailsCard p{
    font-family: "Zilla_Slab";
}

.PropertyDetailsCard button{
    font-family: 'Zilla_Slab';
    padding: 10px;
    padding-left: 120px;
    padding-right: 120px;
    margin: 20px;
    border: 0px;
    border-radius: 50px;
    background-color: var(--orange);
    box-shadow: 0px 5px 10px;
}

.PropertyDetailsCard button:hover{
    background-color: var(--white);
    cursor: pointer;
    box-shadow: 0px 3px 20px;
}

.SupportingDocumentCard{
    background-color: var(--creamyWhite);
    border-radius: 6px;
    width: 540px;
    height: fit-content;
    padding: 10px;
}

.SupportingDocumentCard h2{
    font-family: 'Outfit';
    margin: 10px;
}

.SupportingDocumentCard ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.SupportingDocumentCard li{
    display: flex;
    flex-direction: column;
    width: 155px;
    margin: 5px;
    box-shadow: 1px 1px 5px;
}

.SupportingDocumentCard li img{
    margin-left: 42px;
    margin-right: 42px;
    height: 64px;
}

.SupportingDocumentCard ul li div{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 12px;
    margin-top: 12px;
}

.SupportingDocumentCard ul li div button{
    padding: 0;
    margin: 0;
    width: fit-content;
    box-shadow: 1px 1px 5px black;
    background-color: var(--creamyWhite);
    border: 3px solid var(--orange);
    color: var(--orange);
    font-size: 16px;
    border-radius: 5px;
    margin-right: 12px;
    transition: padding 0.3s ease-in-out;
}

.SupportingDocumentCard ul li div button:hover{
    background-color: var(--white);
    color: var(--darkBlue);
    border: 0px solid black;
    box-shadow: 1px 1px 5px black;
    padding: 12px;
}

.SupportingDocumentCard div:nth-child(3){
    display: flex;
    gap: 0px;
}

.SupportingDocumentCard h3{
    color: var(--orange);
    font-size: 16px;
}

.SupportingDocumentCard li.Verified{
    background-color: var(--darkGreen);
    display: flex;
    flex-direction: column;
    width: 155px;
    margin: 5px;
    box-shadow: 1px 1px 5px;
}

.SupportingDocumentCard li.Verified h3{
    color: var(--creamyWhite);
    font-size: 16px;
}



.ProgressBar{
    font-family: 'Roboto-Bold';
    background-color: var(--creamyWhite);
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    border-radius: 50px;
    border: 1px solid var(--darkBlue);
    margin-top: 20px;
}

.ProgressBar p{
    color: var(--creamyWhite);
}

.ProgressBar p:nth-child(1){
    background-color: var(--darkGreen);
    color: var(--darkGreen);
}
.ProgressBar p:nth-child(2){
    border-left: 1px solid var(--darkBlue);
    border-right: 1px solid var(--darkBlue);
}

.ProgressBarLabel{
    background-color: var(--lightGreen);
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    margin-bottom: 100px;
}

.ProgressBarLabel p{
    font-family: 'Roboto-Bold';
}

.ProgressBarLabel p:nth-child(2){
    text-align: center;
}
.ProgressBarLabel p:nth-child(3){
    color: var(--lightGreen);    
}
.ProgressBarLabel p:nth-child(5){
    text-align: right;   
}

.RejectVerify{
    display: flex;
    gap: 100px;
}

.RejectVerify h3:nth-child(1),
.RejectVerify h3:nth-child(2){
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.RejectVerify h3:nth-child(1){
    transition: all 0.3s ease-out;
    background-color: red;
}

.RejectVerify h3:nth-child(1):hover{
    transition: all 0.3s ease-out;
    opacity: 50%;
}

.RejectVerify h3:nth-child(1):active{
    transition: all 0s;
    opacity: 100%;
    background-color: var(--white);
    color: red;
}

.RejectVerify h3:nth-child(2){
    transition: all 0.3s ease-out;
    background-color: var(--darkGreen);
}

.RejectVerify h3:nth-child(2):hover{
    opacity: 50%;
}

.RejectVerify h3:nth-child(2):active{
    transition: all 0s;
    opacity: 100%;
    background-color: var(--white);
    color: var(--darkGreen);
}


/* --------------------- */

.DocumentRejection{
    background-color: var(--creamyWhite);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0px 2px 5px;
}

.DocumentRejection h1{
    text-align: right;
    padding: 12px;
    border-bottom: 1px solid var(--grey);
}

.DocumentRejection h3{
    font-family: 'Roboto-Light';
    text-align: left;
    padding: 12px;
    width: 100%;
}

.DocumentRejection textarea{
    padding: 12px;
    width: 100%;
    border-radius: 20px;
    border: 0px;
    background-color: var(--white);
    margin-top: 20px;
    color: var(--darkBlue);
    word-wrap: break-word;
    min-height: 100px;
    max-height: fit-content;
}

.DocumentRejection div{
    display: flex;
    gap: 12px;
    justify-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}

.DocumentRejection h5.Cancel{
 background-color: var(--orange);
 color: var(--white);
 padding: 12px;
 border-radius: 25px;
 cursor: pointer;
 transition: padding 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.DocumentRejection h5.Cancel:hover{
    opacity: 80%;
    padding-left: 24px;
    padding-right: 24px;
}
.DocumentRejection h5.Cancel:active{
    transition: background-color 0s;
    background-color: var(--white);
}

.DocumentRejection h5.Send{ 
 background-color: var(--darkGreen);
 color: var(--white);
 padding: 12px;
 border-radius: 25px;
 cursor: pointer;
 transition: padding 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.DocumentRejection h5.Send:hover{
    opacity: 80%;
    padding-left: 24px;
    padding-right: 24px;
}
.DocumentRejection h5.Send:active{
    transition: background-color 0s;
    background-color: var(--white);
}

.DocumentRejection-hidden{
    display: none;
}
