*{
    margin: 0;
    box-sizing: border-box;
}

.VerifyProperty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Blur{
    display: absolute;
    width: 100%;
    height: fit-content;
    z-index: 10;
    background-color: red;
}

.ThumbnailImage{
    width: 128px;
    height: 128px;
    justify-items: center;
    background-color: var(--darkGreen);
    margin: 20px;
}

.PropertyDetailsCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    background-color: var(--lightGreen);
    border-radius: 24px;
    box-shadow: inset var(--darkBlue) 0px 10px 10px -5px;
    
}

.PropertyDetailsCard h1,
.PropertyDetailsCard p{
    width: 500px;
}

.PropertyDetailsCard h1{
    font-family: "Outfit";
}

.PropertyDetailsCard p{
    font-family: "Zilla_Slab";
}

.PropertyDetailsCard button{
    font-family: 'Zilla_Slab';
    padding: 10px;
    padding-left: 120px;
    padding-right: 120px;
    margin: 20px;
    border: 0px;
    border-radius: 50px;
    background-color: var(--orange);
    box-shadow: 0px 5px 10px;
}

.PropertyDetailsCard button:hover{
    background-color: var(--white);
    cursor: pointer;
    box-shadow: 0px 3px 20px;
}

.RejectVerify{
    display: flex;
    gap: 100px;
}

.RejectVerify h3:nth-child(1),
.RejectVerify h3:nth-child(2){
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.RejectVerify h3:nth-child(1){
    transition: all 0.3s ease-out;
    background-color: red;
}

.RejectVerify h3:nth-child(1):hover{
    transition: all 0.3s ease-out;
    opacity: 50%;
}

.RejectVerify h3:nth-child(1):active{
    transition: all 0s;
    opacity: 100%;
    background-color: var(--white);
    color: red;
}

.RejectVerify h3:nth-child(2){
    transition: all 0.3s ease-out;
    background-color: var(--darkGreen);
}

.RejectVerify h3:nth-child(2):hover{
    opacity: 50%;
}

.RejectVerify h3:nth-child(2):active{
    transition: all 0s;
    opacity: 100%;
    background-color: var(--white);
    color: var(--darkGreen);
}
