#post-card-container{
    background-color: var(--creamyWhite);
    width: 90.35%;
    border-radius: 62px;
    padding-left: 6.46%;
    padding-right: 6.46%;
    padding-top: 56px;
    padding-bottom: 87px;
    margin: 0 auto;
    height: fit-content;
}

#user-profile{
    display: flex;
    align-items: center;
}

#profile-container{
    aspect-ratio: 1/1;
    /* width: 6.53%; */
}

.ProfilePicture{
    width: 10%;
}

#user-details h1{
    font-size: 2.5em;
}

#user-details span{
    font-size: 1.25em;
}

#posting-container{
    font-size: 1em;
    border-radius: 20px;
    padding: 2.86%;
    background-color: var(--e5);
}

#engagement-container{
    display: flex;
}

.engagement-button{
    margin-right: 5.38%;
}

.engagement-button:hover{
    cursor: pointer;
}