#post-card-container{
    background-color: var(--creamyWhite);
    width: 70%;
    border-radius: 62px;
    padding: 2% 2.5%;
    margin: 0 auto;
    height: fit-content;
}

#user-profile{
    display: flex;
}

#profile-container{
    aspect-ratio: 1/1;
    width: 8%;
    min-width: 64px;
    min-height: 64px;
}

#profile-container img{
    width: 100%;
}

#user-details{
    margin-top: 2%;
}

#user-details h1{
    font-size: 2em;
    margin-bottom: 0;
}

#user-details span{
    /* font-size: .75em; */
    font-size: calc(100vw/1440 * 16px);
    color: var(--b2);
    margin-top: 0;
}

#posting-container{
    font-size: 1em;
    border-radius: 20px;
    padding: 1.5%;
    background-color: var(--e5);
    color: var(--4c);
}

#engagement-container{
    display: flex;
}

.engagement-button{
    display: flex;
    margin-right: 5.38%;
    margin-top: 2%;
    font-size: 1.5em;
    align-items: center;
    color: var(--grey);
}

.engagement-button:hover{
    cursor: pointer;
    box-shadow: -2px 3px 12px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: -2px 3px 12px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: -2px 3px 12px 0px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
}

.engagement-button img{
    width: 25%;
    margin-right: 10%;
}