body {
  zoom: 80%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

.App-content {
  flex: 1 0 auto;
}

.App .Footer {
  flex-shrink: 0;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* or any height you need */
}
