body {
  zoom: 80%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ensure the app fills the entire viewport height */
  margin: 0;
  padding: 0;
}

.App-content {
  flex: 1 0 auto;
}

.App .Footer {
  flex-shrink: 0;
}
