.MyChatBubble{
    border: 2px solid var(--lightgrey);
    background-color: var(--lightgrey);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    width: 70%;
    padding: 1em;
    margin: 1em 2em;

}

.my-time{
    float: left;
    color: #000000;
  }