.YourChatBubble{
    border: 2px solid var(--darkGreen);
    background-color: var(--darkGreen);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    width: 70%;
    padding: 1em 2em;
    margin: 1em 2em;
    float: left;

}

.your-time{
    float: left;
    color: #000000;
    margin-top: 0.5em;
  }